<h2 class="mt-5">Employees from Dummy API</h2>
<hr>
<table *ngIf="data$ | async as data; else empty" class="table table-striped align-middle">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>E-mail</th>
    <th>Picture</th>
    <th>Remove button</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of data">
    <td>{{ employee.personalNumber }}</td>
    <td>{{ employee.name}}</td>
    <td>{{ employee.mail}}</td>
    <td><img src="{{employee.img}}"></td>
    <td><button (click)="delete(employee.personalNumber)" class="btn btn-md btn-outline-dark">Remove</button></td>
  </tr>
  </tbody>
</table>

<ng-template #empty> There is no data </ng-template>
