<h2 class="mt-5">Employee list</h2>
<p>{{title}}</p>
<!--<ul *ngIf="data$ | async as data; else empty">-->
<!--  <li *ngFor="let employee of data">{{ employee.id }}: {{ employee.name }}</li>-->
<!--</ul>-->
<hr>
<table class="table" *ngIf="data$ | async as data; else empty">
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>E-mail</th>
    <th>Picture</th>
    <th>Remove button</th>
  </tr>
  <tr *ngFor="let employee of data">
    <td>{{ employee.personalNumber }}</td>
    <td>{{ employee.name}}</td>
    <td>{{ employee.mail}}</td>
    <td><img src="{{employee.img}}"></td>
    <td><button (click)="delete(employee.personalNumber)" class="btn btn-md btn-outline-dark">Remove</button></td>
  </tr>
</table>

<ng-template #empty> There is no data </ng-template>
